<!DOCTYPE html>
<html lang="en" style="margin: 0; overflow: hidden">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no">
    <title>vk player</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script type="text/javascript" src="/static/index.js"></script>
</head>
<body style="margin: 0; overflow: hidden">
    <p>CURRENT KEK</p>
    <p id="songContainer"></p>
</body>
</html>